flows.json
[
    {
        "id": "781375c9aed44e85",
        "type": "tab",
        "label": "Traffic Tag Generator ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6af8e0365c805cbe",
        "type": "tab",
        "label": "Tag Endpoint + Processor ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85c40cd9a0bc3287",
        "type": "tab",
        "label": "Consumption Examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo-in.mqtttest.com",
        "port": "8883",
        "tls": "2d748829.2503d8",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "demo/sie/clientstate/connected",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "birthMsg": {},
        "closeTopic": "demo/sie/clientstate/closed",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "closeMsg": {},
        "willTopic": "demo/sie/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo-in.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-in.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "cb978cdcbb341010",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fde17ba4e8f07cec",
        "type": "gauth",
        "name": "node-red@fluted-sentry-260301.iam.gserviceaccount.com"
    },
    {
        "id": "a4089a2e.e45d68",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "26f4d1165fd20bba",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "80bef3743ca28f1f",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "81fc7724bb1fd349",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "d328eaed2d818008",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "api.ipify.org",
        "verifyservercert": false
    },
    {
        "id": "2f351a87b59f115a",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": false
    },
    {
        "id": "e4eabf1d7cbac13c",
        "type": "gauth"
    },
    {
        "id": "7ff7b2e0594f946c",
        "type": "gauth"
    },
    {
        "id": "86a017a36036cd51",
        "type": "gauth"
    },
    {
        "id": "ca6ef322ad7c2325",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "38f957767413f424",
        "type": "ui_group",
        "name": "Latency",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "85ffacbf904db61d",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "3b9b4975b762caaf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo.mqtttest.com",
        "port": "8883",
        "tls": "353bb6547d30ac52",
        "clientid": "otademo",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b039f0e61c731c39",
        "type": "ui_group",
        "name": "Client State Table",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "353bb6547d30ac52",
        "type": "tls-config",
        "name": "demo.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "7c2b4036fb692de4",
        "type": "gauth",
        "name": "hay-ocr@hay-ocr.iam.gserviceaccount.com"
    },
    {
        "id": "02d8fbe38790357d",
        "type": "ui_group",
        "name": "Client State Table",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "13706161fd4d8ae4",
        "type": "ui_group",
        "name": "Worldmap",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "104acade48ce44f9",
        "type": "ui_group",
        "name": "Workshop",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d88e55960b8604dd",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a26078bd533086a",
        "type": "ui_group",
        "name": "Workshop User ID Request",
        "tab": "d88e55960b8604dd",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false
    },
    {
        "id": "45752f305b7390c2",
        "type": "ui_spacer",
        "z": "781375c9aed44e85",
        "name": "spacer",
        "group": "4a26078bd533086a",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "2979cf37ef6acb33",
        "type": "ui_spacer",
        "z": "781375c9aed44e85",
        "name": "spacer",
        "group": "4a26078bd533086a",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "ccd5ad1b6b42e657",
        "type": "inject",
        "z": "781375c9aed44e85",
        "name": "Inject once a second",
        "props": [
            {
                "p": "payload.age",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "e1fedacf5890fb36"
            ]
        ]
    },
    {
        "id": "15766d56f4a99390",
        "type": "http request",
        "z": "781375c9aed44e85",
        "name": "POST data to tag endpoint ",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/tag",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e1fedacf5890fb36",
        "type": "random",
        "z": "781375c9aed44e85",
        "name": "",
        "low": "18",
        "high": "99",
        "inte": "true",
        "property": "payload.age",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "5def9564db01783b"
            ]
        ]
    },
    {
        "id": "5def9564db01783b",
        "type": "random",
        "z": "781375c9aed44e85",
        "name": "",
        "low": "1",
        "high": "1000",
        "inte": "true",
        "property": "payload.user",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "15766d56f4a99390",
                "a6bb428d7f6cc4b2"
            ]
        ]
    },
    {
        "id": "a6bb428d7f6cc4b2",
        "type": "debug",
        "z": "781375c9aed44e85",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "ac32e59589401b20",
        "type": "http in",
        "z": "6af8e0365c805cbe",
        "name": "Tag POST Endpolnt ",
        "url": "/tag",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "ac94bddac9e892a5"
            ]
        ]
    },
    {
        "id": "ac94bddac9e892a5",
        "type": "json",
        "z": "6af8e0365c805cbe",
        "name": "Convert payload to string",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "12da5a9fec097e81",
                "75db94429e3122f1",
                "702902316a026e4f"
            ]
        ]
    },
    {
        "id": "12da5a9fec097e81",
        "type": "file",
        "z": "6af8e0365c805cbe",
        "name": "Write to Kafka",
        "filename": "/data/kafka",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "f61e8e820f71a0c4"
            ]
        ]
    },
    {
        "id": "75db94429e3122f1",
        "type": "mqtt out",
        "z": "6af8e0365c805cbe",
        "name": "Write to pub/sub",
        "topic": "demo/pubsub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "f61e8e820f71a0c4",
        "type": "http response",
        "z": "6af8e0365c805cbe",
        "name": "HTTP response",
        "statusCode": "",
        "headers": {},
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "57573a95eadd3eaf",
        "type": "http in",
        "z": "6af8e0365c805cbe",
        "name": "Simulated Kafka monolog endpoint ",
        "url": "/kafka",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "1dc0546e60f86fb1"
            ]
        ]
    },
    {
        "id": "1dc0546e60f86fb1",
        "type": "file in",
        "z": "6af8e0365c805cbe",
        "name": "Read from Kafka Monolog",
        "filename": "/data/kafka",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 480,
        "wires": [
            [
                "9eeec403043d938a"
            ]
        ]
    },
    {
        "id": "9eeec403043d938a",
        "type": "http response",
        "z": "6af8e0365c805cbe",
        "name": "HTTP response",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "702902316a026e4f",
        "type": "http request",
        "z": "6af8e0365c805cbe",
        "name": "Re-POST data to Acoustic Origin",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/repost",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 520,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8dc469df3f1ab64f",
        "type": "comment",
        "z": "85c40cd9a0bc3287",
        "name": "Batch Read (synchronous) ",
        "info": "",
        "x": 240,
        "y": 100,
        "wires": []
    },
    {
        "id": "c1718112e2f5d373",
        "type": "http request",
        "z": "85c40cd9a0bc3287",
        "name": "Request batch from Kafka endpoint ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/kafka",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "924691b9791ce584"
            ]
        ]
    },
    {
        "id": "15ecb395d0f6f6a5",
        "type": "inject",
        "z": "85c40cd9a0bc3287",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "c1718112e2f5d373"
            ]
        ]
    },
    {
        "id": "924691b9791ce584",
        "type": "debug",
        "z": "85c40cd9a0bc3287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "2d3c5029b5696906",
        "type": "comment",
        "z": "85c40cd9a0bc3287",
        "name": "pub/sub (async)",
        "info": "",
        "x": 220,
        "y": 280,
        "wires": []
    },
    {
        "id": "813739b8a9efbeaf",
        "type": "mqtt in",
        "z": "85c40cd9a0bc3287",
        "name": "Pubsub subscribe ",
        "topic": "demo/pubsub",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "ccffdd3c014a2f7c"
            ]
        ]
    },
    {
        "id": "ccffdd3c014a2f7c",
        "type": "debug",
        "z": "85c40cd9a0bc3287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "b7906853cdce49b3",
        "type": "comment",
        "z": "85c40cd9a0bc3287",
        "name": "re-POST",
        "info": "",
        "x": 200,
        "y": 440,
        "wires": []
    },
    {
        "id": "797667cb25f36d20",
        "type": "http in",
        "z": "85c40cd9a0bc3287",
        "name": "",
        "url": "/repost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "0598a22b2333f9e2",
                "0d7a61e2509ca35c"
            ]
        ]
    },
    {
        "id": "0598a22b2333f9e2",
        "type": "http response",
        "z": "85c40cd9a0bc3287",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 480,
        "y": 500,
        "wires": []
    },
    {
        "id": "0d7a61e2509ca35c",
        "type": "debug",
        "z": "85c40cd9a0bc3287",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 540,
        "wires": []
    }
]
